lambda
  name __init__
  param_count 0
  local_count 0
  label_count 3
  insn_vector
    load_module 0
    load_this_module
    store_field 0
    load_module 1
    load_this_module
    store_field 1
    load_const 2
    store_global 3
    load_const 4
    store_global 5
    load_const 6
    load_global 0
    load_field 7
    load_global 0
    load_field 8
    load_global 0
    load_field 0
    call 3
    store_global 9
    load_global 5
    load_global 3
    new_tuple 2
    load_global 9
    load_field 10
    call 1
    pop
    load_const 11
    load_global 9
    load_field 12
    call 1
    pop
    jmp 1
    label 0
    load_global 9
    load_field 13
    call 0
    load_const 6
    dup_top 1
    load_item
    store_global 14
    load_const 15
    dup_top 1
    load_item
    store_global 16
    pop
    load_const 17
    load_global 14
    load_field 18
    call 1
    store_global 19
    load_global 19
    print
    load_global 14
    load_field 20
    call 0
    pop
    label 1
    load_const 21
    jtrue 0
    label 2
    load_const 22
    return
  const_vector
    socket
    os
    "localhost"
    HOST
    8080.000000
    PORT
    0.000000
    SOCK_STREAM
    AF_INET
    server
    bind
    64.000000
    listen
    accept
    client
    1.000000
    address
    1024.000000
    recv
    data
    close
    True
    None
  guard_vector
